extends layout
block content
    p With this app, you can manage the restaurant and provide the best service to your customers in the shortest time possible.

    a(href=`/customers/`) Customers
    br
    a(href=`/items/`) Items
    br
    a(href=`/tables/`) Tables
    br
    a(href=`/waiters/`) Waiters
